@import '../../assets/styles/variables.scss';

.Container
{
    min-height: 200px;
}
.Container_Title
{
    display: $display-flex;
    flex-grow: 2;
    height: 50px;
    margin: $margin-10px;
    font-size: $font-size-1em;
}
.Container_Description
{
    display: $display-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}