$font-weight-700: 700;
$custom-background-red: rgb(252, 40, 61);
$custom-background-black: rgb(8, 8, 8);
$custom-background-grey: rgb(226, 226, 226);
$color-white: white;
$display-flex: flex;
$font-size-1em: 1em;
$justify-content-center: center;
$margin-10px: 10px;
$display-none: none;
$border-none: none;